*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: helvetica;
}
#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.banner{
    width: 380px;
    height: 568px;
    position: relative;
    bottom: 125px;
}
.logo-insta{
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}
#container2{
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
}
.form-box{
    width: 350px;
}
#name{
    margin-top: 15px;
    width: 270px;
    height: 38px;
    border-radius: 3px;
    border: 2px solid #ddd;
    padding-left: 5px;
}
#password{
     margin-top: 10px;
    width: 270px;
    height: 38px;
    border-radius: 3px;
    border: 2px solid #ddd;
    padding-left: 5px;
}
#btn{
    width: 270px;
    height: 30px ;
    border-radius: 3px;
    border: none;
    background-color: #1b7097;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}
#alternative{
    margin: 20px 0;
    text-transform: uppercase;
    color: #a4a7a7;
    font-size: 15px;
}
#logo-face img{
    height: 15px;
    margin-right: 7px;
}
#logo-face a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #465485;
}
#logo-face{
    margin-bottom: 10px;
}
#forgot-pass{
    margin: 30px 0;
    font-size: 14px ;
}
#forgot-pass a{
    text-decoration: none;
    color: #2e508f;
}
#cadastro{
    margin: 50px 0;
    font-size: 14px;
}
#cadastro a{
    text-decoration: none;
    color: #486db3 ;
    font-weight: bold;
}
.container-app{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.app img{
    height: 38px;
}
.google img{
    height: 38px;
}
